body{overflow-x: hidden;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
img{width: 100%;}
ul,li{list-style: none;padding: 0;}
/*导航*/

nav {height: 30px;width: 100%;position: fixed;z-index: 1000;}
.container-fluid{max-width: 960px;margin: 0 auto;}
.dropdown .dropdown-menu li a{height: 38px;border-bottom:1px solid #ccc;line-height: 38px;}
.dropdown .dropdown-menu{padding: 0;}
/*pc端 logo*/
.logo{padding: 0;}
.logo-box{width:140px;background:-webkit-linear-gradient(left,#1D1D50,#3175B7);background:-moz-linear-gradient(left,#1D1D50,#3175B7);background: linear-gradient(left,#1D1D50,#3175B7);}
.logo-box span{display: block;color: #fff;}
.logo1{background: #FFFFFF;padding: 25px 10px;border-bottom-right-radius: 40px;}
.logo-2{background: -webkit-linear-gradient(left,#1c368c,#3177b9);line-height: 50px;padding-left: 10px;height: 0;overflow: hidden;}
.logo-3{padding-left: 10px;height: 50px;line-height: 50px;}
/*移动端logo*/
.logo-m{width: 100px;}
/*主题一pc*/
.them1-p{background: url(../img/ultrasound-l.jpg) no-repeat;padding-top: 6%;min-width: 960px;background-size: cover;padding-bottom: 10%;margin: 0 auto;}
.theme-text{max-width: 960px;margin: 0 auto;padding-top: 6%;}
.theme-text h2{font-size: 42px;font-weight: bold;}
.theme-text p{font-size: 18px;width: 380px;}
.more a{display: block;background: #1B6D85;width: 150px;color: #fff;border-radius: 5px;text-align: center;padding: 8px 10px;}
/*主题-m*/
.them1-m{padding-top: 52px;}
.them1-m .theme-text h2{font-size: 18px;padding-left: 10px;}
.them1-m .theme-text p{font-size: 14px;width: 320px;padding-left: 10px;}
.them1-m .more a{margin-left: 10px;}
/*主题二pc*/
.them2-p{background:url(../img/li-l.jpg) no-repeat;min-width: 960px;background-size: cover;padding-bottom: 8%;margin: 0 auto;}
.them2-p .theme-text{max-width: 960px;margin: 0 auto;/*padding-top: 5%;*/color: #fff;}
.them2-p .theme-text h2{font-size: 42px;font-weight: bold;}
.them2-p .theme-text p{font-size: 18px;width: 380px;line-height: 1.5;}
.them2-p .more a{display: block;background: rgba(9,117,117,0.8);width: 120px;color: #fff;border-radius: 5px;text-align: center;padding: 8px 10px;}
/*主题二m*/
.them2-m{padding-top: 20px;}
.them2-m .theme-text h2{font-size: 18px;padding-left: 10px;}
.them2-m .theme-text p{font-size: 14px;width: 320px;padding-left: 10px;}
.them2-m .more a{margin-left: 10px;}
/*主题三pc*/
.them3-p{background:url(../img/philips-watch-left-l.jpg) no-repeat;overflow: hidden;min-width: 960px;background-size: cover;padding-bottom: 10%;margin: 0 auto;padding-right: 200px;}
.them3-p .theme-text{max-width: 960px;margin: 0 auto;color: #fff;float: right;}
.them3-p .theme-text h2{font-size: 42px;font-weight: bold;}
.them3-p .more a{display: block;background:#1B6D85;width: 120px;color: #fff;border-radius: 5px;text-align: center;padding: 8px 10px;float: right;}
/*主题三m*/
.them3-m{padding-top: 20px;}
.them3-m .theme-text h2{font-size: 18px;padding-left: 10px;}
.them3-m .more a{margin-left: 10px;}
/*产品注册*/
.p-regist{background: #EFEFEF;padding-bottom: 50px;}
.p-text h2{font-size: 30px;}
.p-text span{color: #398439;}
.p-text p{margin: 0;}
.p-regist .p-pt{background: url(../img/LM-MyPhilips-Banner.jpg) no-repeat;
max-width: 960px; background-size: cover;padding-bottom: 8%;margin: 0 auto;}
.p-regist .p-pt .thems-text{padding-top: 50px;padding-bottom:80px;}
/*搜索*/
.serch{background: #15A9D4;}
.serch-box{width: 450px;}
.serch-box form {position: relative;}
.serch-box form span{position: absolute;right: 5px;top: 10px;}
/*地图*/
.map{background: #122B40;color: #fff;}
.map h2{font-size: 24px;}
.map ul li a{color: #fff;}
/*底部*/
.webio-p{color: rgba(11,140,195);margin-top: 10px;text-align: left;}
.webio-p img{width: 30px;display: block;}
.webio-m{color: rgba(11,140,195);margin-top: 50px;max-width: 87px;margin: 0 auto;text-align: center;}
.webio-m img{width: 30px;display: block;}
.f-logo img{width: 100px;margin: 20px auto 20px;}
.menu{width: 100%;margin: 30px auto;}
.footer{background: -webkit-linear-gradient(top,#022975,#034A83);background: -moz-linear-gradient(top,#022975,#034A83);background: linear-gradient(top,#022975,#034A83);text-align: center;}
.copynav{text-align: center;}
.copynav ul li{display: inline-block;}
.copynav ul li a{color: #fff;padding: 0 5px;border-right:1px solid #fff;}
.copynav ul li:last-child a{border: none;}
.copynav p{color: #fff;}